.DS_Store
.DS_Store
Client/pokeman22/data/tmp0.gif
Client/pokeman22/data/tmp0.gif
Client/pokeman22/data/tmp0.gif
Client/pokeman22/data/tmp0.gif
*.gif
*.xml
*.iml
*.pyc
Server/venv/
*.pyc
*.pyc
*.pyc
Server/__pycache__/Constants.cpython-37.pyc
*.pyc
